/*RESET*/
* {
  margin: 0;
}
/*RESET end*/

/*Common start*/
.container {
  width: 1024px;
  margin: auto;
}

.highlight {
  background-color: lightcoral;
}

/*Common end*/

/*HEADER start*/

header {
  background-color: aqua;
  background-image: url("../img/pattern.png");
  background-size: 350px;
}

.logo {
  height: 50px;
  margin-top: 73px;
}

/*HEADER end*/

/*MAIN start*/
h1 {
  font-size: 46px;
}

.author {
  font-size: 20px;
}

.author span {
  color: lightblue;
}

.author,
.date {
  color: gray;
}

.tim-img {
  margin-top: 15px;
}

.photocredits {
  font-size: 12px;
}

.articlecontent {
  margin-top: 20px;
}

.list {
  font-size: 15px;
  margin-top: 20px;
}
/*MAIN end*/
